{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'login/css/categories.css' %}" rel="stylesheet"/>
</head>
<body>
    <h1>Categories:</h1>
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
                <img src="{% static 'login/image/geography.png' %}" class="card-img-top resize center" alt="Geography" >
              <div class="card-body">
                <h5 class="card-title">Geography</h5>
                <p class="card-text">Which was the first country to issue banknotes?</p>
                <p class="card-text">Which are the two most popular months for dying in the USA?</p>
                <p class="card-text">Do you know? Let's check...</p>
                <a href="#" class="btn btn-primary center-block">Start</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
                <img src="{% static 'login/image/entertainment.png' %}" class="card-img-top resize center" alt="Entertainment" >
              <div class="card-body">
                <h5 class="card-title">Entertainment</h5>
                <p class="card-text">Which 1960s pop star reportedly choked to death on a sandwich?</p>
                <p class="card-text">What four-letter word gave Spandau Ballet their only number one single?</p>
                <p class="card-text">Do you know? Let's check...</p>
                <a href="#" class="btn btn-info center-block">Start</a>
              </div>
            </div>
          </div>
        </div>
    </br>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
                <img src="{% static 'login/image/history.png' %}" class="card-img-top resize center" alt="History" >
              <div class="card-body">
                <h5 class="card-title">History</h5>
                <p class="card-text">Which planet was named after the messenger of Roman gods?</p>
                <p class="card-text">What do Americans celebrate on the 4th Thursday in November?</p>
                <p class="card-text">Do you know? Let's check...</p>
                <a href="#" class="btn btn-warning center-block">Start</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
                 <img src="{% static 'login/image/literature.png' %}" class="card-img-top resize center" alt="Literature" >
              <div class="card-body">
                <h5 class="card-title">Arts & Literature</h5>
                <p class="card-text">What italian phrase means the first lady of opera?</p>
                <p class="card-text">Which is the West End's longest running musical of all time?</p>
                <p class="card-text">Do you know? Let's check...</p>
                <a href="#" class="btn btn-secondary center-block">Start</a>
              </div>
            </div>
          </div>
        </div>
    </br>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
                <img src="{% static 'login/image/science.png' %}" class="card-img-top resize center" alt="Science" >
              <div class="card-body">
                <h5 class="card-title">Science & Nature</h5>
                <p class="card-text">What is the common name for the American bison?</p>
                <p class="card-text">Which salad ingredient is a vegetable: lettuce, tomato or cucumber?</p>
                <p class="card-text">Do you know? Let's check...</p>
                <a href="#" class="btn btn-success center-block">Start</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
                <img src="{% static 'login/image/sport.png' %}" class="card-img-top resize center" alt="Sport" >
              <div class="card-body">
                <h5 class="card-title">Sports & Leisure</h5>
                <p class="card-text">Who owns Ascot racecourse?</p>
                <p class="card-text">What is a matador's muleta?</p>
                <p class="card-text">Do you know? Let's check...</p>
                <a href="#" class="btn btn-danger">Start</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>