{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'login/css/info.css' %}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/bf28cd6aa8.js" crossorigin="anonymous"></script>


</head>
<body>
 <!-- <a href="../index"><button type="button" class="btn btn-info back"><i class="fas fa-backward"></i></button></a> -->
    <div class="row">
        <div class="col-sm-1">
            <a href="../index"><button type="button" class="btn btn-info back"><i class="fas fa-backward"></i>Back</button></a>
        </div>
        <div class="col-sm-11">
            <h1>Info:</h1>
        </div>

    </div>
    <div class="container-fluid">


            <div class="card">
               <img src="{% static 'login/image/info.png' %}" class="card-img-top resize center" alt="Geography" >
              <div class="card-body">
                <h5 class="card-title">Czym jest Quizz?</h5>
                <p class="card-text">Quizz to darmowa gra  pozwalająca ci sprawdzić swoją wiedzę z różnych kategorii!</p>
                <p class="card-text"> Odopiwadaj na pytania i zbieraj punkty za prorawne odpowiedzi.</p>
                  <p class="card-text"> Quizz to świetna rozrywka zarówno w pojedynkę jak i z przyjaciółmi.</p>
                <p class="card-text">Obecnie dostępne 6 kategorii:</p>
                  <ul>
                      <li> Geografia </li>
                      <li> Rozrywka </li>
                      <li> Historia </li>
                      <li> Sztuka i literatura </li>
                      <li> Nauka i natura </li>
                      <li> Sport </li>
                  </ul>
                   <p class="card-text"> Quizz to projekt realizowany w ramach przedmiotu Kurs wybranego języka programowania. </p>
                    <p class="card-text"> Autorzy: Jakub Amanowicz, Sara Kubczak, Filip Kulasza, Agnieszka Szmigulan</p>

                  <a href="https://github.com/tym1cla/Zziuq"> link do projektu</a>
              </div>
            </div>




    </div>


</body>
<a href='https://pngtree.com/so/why'>why png from pngtree.com</a>
</html>