body {
    background: url("../image/back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backface-visibility: hidden;

}

body > div > div > form > h3 {
    margin-bottom: 4rem;
}

header {
    font-family: Saab, "sans-serif";
    font-size: 100px;
    text-align: center;
    margin-top: 10rem;
    color: #498011;

}
header h1 {
    font-size: 90px;
}

.form-login {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    margin: 7px auto;

}

.form-login {
    margin-top: 4rem;
    font-size: 1rem;
    color: black;
}

.form-login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

form a {
    display: inline-block;
    margin-top: 25px;
    font-size: 12px;
    line-height: 10px;
}