*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;

}
body
{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
}

table
{

    border-collapse: separate;
}
tr th{
    font-size: 2rem;
}
tbody{
    font-size: 1.5rem;
}
tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content:  counter(Serial); /* Display the counter */
}
body > header > form > div > div > h1{

    padding: 2rem 2rem;
    margin: 2rem 2rem;
    text-align: center;
    font-size: 3rem;
}
header{
    background-image: url("../image/backgroundphoto.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top:25px
}

ul li{
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}


.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 7%;
    left: 16%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: black;
    font-size: 70px;
}
.table-background{
    background-color: gray;
    opacity: 0.8;
}

.bottomdiv {
    position:relative;
    bottom:0;
    height:50%;
    width:100%;
    padding-top: 5%;
}
.op{
    opacity: 0.7;
}
.gold{
    color: gold;
}
.silver{
    color: silver;
}
.brown{
    color: brown;
}