<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="{% static 'login/css/menu.css' %}" rel="stylesheet"/>
</head>
<body>
    <header>
        <form method="get" action="." enctype="multipart/form-data">{% csrf_token %}
            <div class="main">
                <ul>
                    {% if user.is_superuser %}
                        <li><a href="/questions/">Add questions</a></li>
                    {% endif %}
                    <li><a href="/categories/">Play</a></li>
                    <li><a href="/info/">Info</a></li>
                    <li><button class="btn btn-sm btn-warning custom" type="submit" name="logout">Logout</button></li>
                </ul>
            </div>
            <div class="title">
                <h1>Hey {{ request.session.user_name }}!</h1>
            </div>
        </form>
    </header>
</body>
</html>
